<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../css/goodsManger.css">
<head>
    <meta charset="UTF-8">
    <title>新增或修改商品</title>
</head>
<body>
<div class="formDiv">
<form method="post" action="/admin/addGoodsManger">

    <table>
        <tr><td> 商品编号：</td><td><input type="text" name="goodsNumber" /></td></tr>
        <tr><td> 商品名称：</td><td> <input type="text" name="goodsName" /></td></tr>
        <tr><td> 商品类型：</td>
            <td>
                <select  name="goodsType" style="width: 176px">
                    <option value="">全部</option>
                    <option  th:each="typeList:${typeList}"  th:value="${typeList.id}"
                             th:text="${typeList.goodType}">
                    </option>
                </select>
            </td>
        </tr>
        <tr><td>  商品价格：</td><td><input type="number" name="goodsInPrice" /></td></tr>
        <tr><td>  商品数量：</td><td><input type="number" name="goodsNum" /></td></tr>
        <tr><td>  商品描述：</td><td><input type="text" name="goodsIntroduction" /></td>
        <tr><td colspan="2">
            <button class="btn"> 确认</button> <button class="btn" th:onclick="|back()|"> 取消</button></td></tr>
    </table>
</form>
</div>
<script src="../js/jquery.min.js" ></script>
</body>
</html>