<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改商品</title>
    <link rel="stylesheet" type="text/css" href="css/goods_list_tlq.css">
    <script src="../js/jquery-1.8.2.min.js"></script>
</head>
<body>
    <div id="edit">
        <h5>修改商品:</h5>
        <form action="/edit" method="post">
            <input type="hidden" name="goodsId" th:value="${goods.goodsId}"/>
            <table>
                <tr>
                    <td>商品编号:</td>
                    <td><input type="text" name="goodsNum" th:value="${goods.goodsNum}"/></td>
                </tr>
                <tr>
                    <td>商品名称:</td>
                    <td><input type="text" name="goodsName" th:value="${goods.goodsName}"/></td>
                </tr>
                <tr>
                    <td>商品价格:</td>
                    <td><input type="text"name="goodsPrice" th:value="${goods.goodsPrice}"/></td>
                </tr>
                <tr>
                    <td>商品库存:</td>
                    <td><input type="text" name="goodsInventory" th:value="${goods.goodsInventory}"/></td>
                </tr>
                <tr align="right">
                    <td colspan="2"><button>确定</button>&nbsp;&nbsp;<button>取消</button></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>